/.vscode
/archive/
/modelop/
/.modelop/
/**/__pycache__/
*.pyc
*.pyo
*.pyd

# Generated monitor outputs/assets (keep source + required files only)

/CHIP_mtr_1/*_baseline.csv
/CHIP_mtr_1/*_comparator.csv
/CHIP_mtr_1/*_baseline.json
/CHIP_mtr_1/*_comparator.json

/CHIP_mtr_1/modelop_schema.json
/CHIP_mtr_1/blank_schema_asset.csv
/CHIP_mtr_2/*_baseline.csv
/CHIP_mtr_2/*_comparator.csv
/CHIP_mtr_2/*_baseline.json
/CHIP_mtr_2/*_comparator.json

/CHIP_mtr_2/modelop_schema.json
/CHIP_mtr_2/blank_schema_asset.csv
/CHIP_mtr_3/*_baseline.csv
/CHIP_mtr_3/*_comparator.csv
/CHIP_mtr_3/*_baseline.json
/CHIP_mtr_3/*_comparator.json

/CHIP_mtr_3/modelop_schema.json
/CHIP_mtr_3/blank_schema_asset.csv